@charset "utf-8";
/* ----------------------------------------------------------------
       common
---------------------------------------------------------------- */
/* NanumSquareNeo light: 500; normal:600; bold:700; extrabold:800; black:900 */
:root {
    --neutral_600: #414348;
}
html {
    font-size: 62.5%;
    font-family: 'NanumSquareNeo', sans-serif !important;
    scroll-behavior: smooth;
}
* {
    font-family: 'NanumSquareNeo', sans-serif !important;
    letter-spacing: -0.02em;
}
.display-m {
    display: none;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.inner-col {
    position: relative;
    width: 133rem;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* content */
html,
body,
.wrap {
    position: relative;
    height: 100%;
}
@media screen and (min-width: 2000px) {
    html {
        font-size: 0.5vw;
    }
}
@media screen and (max-width: 1450px) {
    html {
        font-size: 50%;
    }
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 15px;
    }
    .display-pc {
        display: none;
    }
    .display-m {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 2.5vmin;
    }
}
@media screen and (max-width: 319px) {
    html {
        font-size: 10px;
    }
}
